@use 'fonts';
@import 'modules';
@import 'mediaQueries';

* {
    @include ini($cero, $cero, $border);
}

html {
    scroll-behavior: smooth;

    body {
        background-color: $black;

        header {
            background-color: $orange;
            @include flexbox($column, initial, $center);

            .navbar {
                background-color: $brown;
                @include sizes(auto, 100%);
                @include flexbox($row, $center, initial);

                a {
                    color: $white;
                    text-decoration: none;
                    padding: 20px;
                    font-size: 25px;
                    transition: .4s all;
                    font-family: 'Patua One', cursive;

                    &:hover {
                        color: $orange;
                    }
                }
            }
        }

        main {
            .seccion-historia {
                h2 {
                    @include subtitle();
                }

                .glide {
                    @include sizes(700px, auto);

                    .glide__track {
                        .glide__slides {
                            @include flexbox($row, $center, $center);
                            @include sizes(700px, auto);

                            .glide__slide {
                                @include flexbox($row, $center, initial);

                                img {
                                    @include sizes(700px, 700px);
                                }

                            }
                        }
                    }

                    .glide__bullets {
                        .glide__bullet {
                            @include sizes(20px, 20px);
                            margin: 10px;
                        }

                    }

                }

                .text {
                    @include text($orangeLight, 22px, 'margin');
                }

                .temporal {
                    @include flexbox($row, $spaceAround, initial);
                    @include sizes(auto, 50%);
                    margin: 0 auto;

                    .informacion-left {
                        @include information('left');
                    }

                    .linea {
                        @include sizes(1300px, 2px);
                        margin: 30px;
                        background-color: $orange;
                        @include flexbox($column, initial, $center);

                        .puntos {
                            @include sizes(15px, 15px);
                            background-color: orange;
                            border-radius: 50%;

                            .linea {
                                @include sizes(3px, 120px);
                                background-color: orange;
                            }

                            .left {
                                position: relative;
                                top: -25px;
                                left: -150px;
                                z-index: -1;
                            }

                            .right {
                                position: relative;
                                top: -24px;
                                left: -20px;
                                z-index: -1;
                            }
                        }

                        #punto1 {
                            position: relative;
                            top: 60px;
                        }

                        #punto2 {
                            position: relative;
                            top: 240px;
                        }

                        #punto3 {
                            position: relative;
                            top: 430px;
                        }

                        #punto4 {
                            position: relative;
                            top: 620px;
                        }

                        #punto5 {
                            position: relative;
                            top: 810px;
                        }

                        #punto6 {
                            position: relative;
                            top: 1000px;
                        }

                        #punto7 {
                            position: relative;
                            top: 1190px;

                        }
                    }

                    .informacion-right {
                        @include information('right');
                    }
                }
            }

            .seccion-estilos {
                h2 {
                    @include subtitle();
                }

                .cards {
                    @include grid(2, 80px, 30px, initial, initial);
                    @include sizes(auto, 80%);
                    margin: 0 auto;

                    .card {
                        @include flexbox($row, $center, initial);
                        transition: .4s all;
                        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);

                        img {
                            @include sizes(300px, 270px);
                        }

                        .descripcion {
                            padding: 15px;
                            color: $brownDark;
                            background-color: $orange;
                            box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);

                            h3 {
                                margin: 15px;
                                @include h3($brownDark, 25px);
                            }

                            p {
                                @include text($brownDark, 16px, 'padding');
                            }
                        }

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }

            .seccion-productos {
                h2 {
                    @include subtitle();
                }

                .productos {
                    @include flexbox($row, $spaceAround, initial);
                    margin: 10vh auto;
                    @include sizes(auto, 90%);

                    .producto {
                        @include flexbox($column, initial, initial);
                        @include sizes(450px, 330px);
                        transition: .4s all;
                        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);

                        img {
                            @include sizes(450px, 330px);
                        }

                        .texto-producto {
                            @include flexbox($column, initial, $center);
                            color: $brownDark;
                            background-color: rgba(244, 171, 83, 0.7);
                            color: $brownDark;
                            min-height: 450px;
                            position: relative;
                            top: -450px;
                            padding: 10px;
                            transition: .4s all;
                            box-shadow: -1px 0px 3px 0px rgba(0, 0, 0, 0.75);

                            h3 {
                                @include h3($brownDark, 29px);
                                margin: 50px auto;
                            }

                            p {
                                @include text($brownDark, 19px, 'padding');
                            }
                        }

                        &:hover {
                            transform: scale(1.1);

                            .texto-producto {
                                opacity: 0;
                            }
                        }
                    }
                }
            }

            .seccion-locales {
                h2 {
                    @include subtitle();
                }

                .fabrica {
                    @include flexbox($row, $spaceBetween, initial);
                    @include sizes(auto, 60%);
                    background-color: $orange;
                    margin: 0 auto;
                    box-shadow: -1px 0px 3px 0px rgba(0, 0, 0, 0.75);

                    img {
                        @include sizes(350px, 450px);
                    }

                    .texto-fabrica {
                        @include flexbox($column, $spaceAround, $center);
                        margin: 0 auto;

                        h3 {
                            @include h3($brownDark, 40px);
                        }

                        .informacion {
                            p {
                                @include text($brownDark, 25px, 'padding');
                            }

                            a {
                                padding: 10px;
                                text-decoration: none;
                                color: $brownDark;
                                font-size: 25px;
                                transition: .4s all;
                                font-family: 'Source Sans Pro', sans-serif;
                                font-weight: bold;

                                &:hover {
                                    color: $brown;
                                    font-size: 27px;
                                }
                            }
                        }
                    }
                }

                .clientes {
                    @include grid(2, 25px, 25px, initial, initial);
                    margin: 5vh auto;
                    @include sizes(auto, 90%);

                    .cliente {
                        background-color: $orange;
                        @include flexbox($row, $spaceBetween, initial);
                        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);

                        img {
                            @include sizes(250px, 250px);
                        }

                        .texto-cliente {

                            margin: 0 auto;

                            h3 {
                                @include h3($brownDark, 28px);
                            }

                            p {
                                @include text($brownDark, 20px, 'padding');
                            }

                            a {
                                padding: 10px;
                                text-decoration: none;
                                color: $brownDark;
                                font-size: 20px;
                                transition: .4s all;
                                font-family: 'Source Sans Pro', sans-serif;
                                font-weight: bold;

                                &:hover {
                                    color: $brown;
                                    font-size: 21px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .seccion-contactanos {
            background-color: $brownDark;
            color: $orangeLight;
            @include flexbox($column, initial, initial);

            .redes-sociales {
                @include flexbox($row, $spaceAround, $flexStart);
                flex-wrap: wrap;


                .redes {

                    h3 {
                        @include h3($orange, 30px);
                    }

                    .red {
                        @include flexbox($row, initial, $center);
                        transition: .5s all;
                        margin: 10px 0px;

                        .logo-ig,
                        .logo-email,
                        .logo-tel,
                        .logo-wpp {
                            i {
                                font-size: 25px;
                                padding: 5px;
                            }
                        }

                        p {
                            @include text($orangeLight, 20px, 'padding');
                        }

                        &:hover {
                            color: $orange;
                            cursor: pointer;
                        }
                    }
                }
            }

            .ubicacion {
                text-align: $center;
                margin: 10px;

                h3 {
                    @include h3($orange, 30px);
                }
            }

            .derechos {
                text-align: $center;

                p {
                    @include text($orange, 25px, 'padding');
                }
            }
        }
    }
}

@media (max-width:$bp-laptopXL) {
    @include laptopXL();
}

@media (max-width:$bp-laptop) {
    @include laptop();
}

@media (max-width:$bp-laptopS) {
    @include laptopS();
}

@media (max-width:$bp-tablet) {
    @include tablet();
}

@media (max-width:$bp-tabletS) {
    @include tabletS();
}

@media (max-width:$bp-mobileXL) {
    @include mobileXL();
}

@media (max-width:$bp-mobile) {
    @include mobile();
}